html,body {
  background-color: #f6f6f6;
  color: #403f3f;
  min-height: 100%;
  height: 100%;
}
main{
  height: 88%;
}

main>header {
  position: fixed;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  align-items: center;
  background-color: white;
  top: 0;
  padding: 1em;
  z-index: 10000;
}

main>header h1 {
  margin-right: 1em;
}

main>header a.button {
  margin-right: 1em;
  justify-self: right;
  margin-bottom: 0;
  top:50%;
}

#eventSearch:focus{
  border: 0;
}
.event-feed{
  background-color: white;
  border-radius: 1em;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  border: 1px solid rgba(167, 167, 167, 0.463);
}
.event-feed,
.eventsAttended,
.eventsToAttend, .myevents {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 1.5em;
  padding: 1em;
  margin-top: 1em;

}

.eventCard {
  flex-direction: column;
  margin: 0.5em;
  box-shadow: #0000001a 0px 2px 2px 1px;
  max-width: 20em;
  max-height: 25em;
  border-radius: 1em;
  background-color: white;
  display: grid;
  grid-template-rows: 1fr auto;
}

.eventCard:hover{
  background-color: rgba(239, 239, 239, 0.509);
  cursor: pointer;

}
.eventMiniPicture{
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  object-fit: cover;
  aspect-ratio: 2/1;
}
.event-info{
  margin: 0.4em 1em;
}
.title{
  color: #000000;
  font-size: large;
}
.local{
  color: #6c757d;
}

#details *{
  margin-bottom: 0.8em;
}

.eventCard p {
  margin-bottom: 0em;
}
.eventCard button, .eventCard .button{
  margin: 0 1em 1em;

}

.inner-main {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  right: 0;
  left: 235px;
}

.inner-main-body {
  padding: 1rem;
  overflow-y: auto;
  position: relative;
  flex: 1 1 auto;
}

.card {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid rgba(0, 0, 0, .125);
  border-radius: .25rem;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1rem;
}

.date {
  font-size: 0.5em
}

.comment-text {
  font-size: 1em
}

.fs-12 {
  font-size: 1em
}

.name {
  color: #007bff;
  margin: 1em;
}

.cursor {
  cursor: pointer
}

.textarea {
  resize: none
}

#registerbutton, #registerbtn{
  background-color: transparent;
  color: #9bb6fcf6;
}
#copyButton {
  justify-self: center;
}

.btn-primary {
  background-color: transparent;
  border-color: transparent;

}

.btn-primary:hover,
.btn:focus {
  background-color: transparent;
  border-color: transparent;

}

a:hover {
  color: #688ade;
}


.eventPart:hover {
  border-bottom: 2px solid rgba(90, 90, 90, 0.852);
}

#eventPicture{
  object-fit: cover;
  aspect-ratio: 1.5/1;

}
#info,
#forum {
  font-size: 1.5em;
  cursor: pointer;
  margin: 1em;
  padding: 0.2em;
}

#info:hover, #forum:hover{
  background-color: rgba(216, 216, 216, 0.413);
  border-radius: 0.2em;
}
#postMessage{
  background-color: white;
  border: 1px solid #a1b4e36f;
  border-radius: 1em;
  padding: 1.5em;
  margin-bottom: 1em;
}
.message{
  background-color: #a1b4e36f;
  border-radius: 1em;
  padding: 1.5em;
  margin-bottom: 1em;
}
.message > * {
  margin-bottom: 1em;
}

.message p{
  margin: 0;
  padding: 0 1.3em;
}
.message #son{
  padding-left: 1.5em;
  padding-right: 0.5em;
}
#reply{
  display: grid;
  grid-template-columns: 1fr auto;
  margin-right: 0.5em;
  margin-bottom: 0;
}
#messageInput{
  background-color: white;
  border-radius: 0.7em;
}
#replyInput{
  margin-left: 1.5em;
  background-color: white;
  border-radius: 0.7em;
  width: 92%;
}
#replyInput:focus, #messageInput:focus, #content form input:focus, #content form select:focus{
  border: 1px solid #a1b4e3d2;
  outline: 1px solid #a1b4e3d2;
  box-shadow: rgba(180, 180, 180, 0.253) 0px 8px 24px;
}
#deleteBtn{
  right: 0.8em;
}
#editBtn{
  right: 3em
}
#deleteBtn, #editBtn{
  position: absolute;
  background-color: #c0c0c0c0;
  border-radius: 1em;
  padding-right: 0.3em;
  padding-left: 0.3em;
}

#eventHeader{
  background-color: white;
  justify-content: center;
}

#eventHeader .button, #eventHeader button{
  margin-right: 1em;
}

#eventHeader img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#details, #attendeeslist{
  background-color: white;
  margin: 2em;
  padding: 1em;
  border-radius: 1em;
}


#content {
  padding-top: 5em;
  min-height: 100%;
  padding-bottom: 2em;
  padding-left: 14em;
}
#content2{
  padding-top: 5em;
  min-height: 100%;
  padding-bottom: 2em;
}

#content2 label {
  font-weight: normal;
}

#content>form, #content2>form {
  margin: 5em auto;
  padding: 1em;
  max-width: 20em;
  border: 2px solid #a1b4e3c1;
  border-radius: 1em;
  background-color: white;
  box-shadow: rgba(122, 122, 122, 0.1) -4px 9px 25px -6px;
}
#content2>form input:focus{
  border: 1px solid #a1b4e3c1; 
}

#content>form .error {
  font-weight: bold;
  color: #ff3333;
}

#content>form input, #content2>form input {
  background-color: white;
}


.nav-item {
  margin-right: 1em;
  margin-bottom: 0;
}
.nav-item a{
  color: #6c757d;
}
.nav-item a:hover{
  color: #007bffa4;
}

@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 220px;
    /* 180 + 40 */
  }
}
@media (min-width: 1700px) {
  .event-feed,
  .eventsAttended,
  .eventsToAttend {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 1400px) {

  .eventCard{
    max-width: 25em;
    min-width: 19em;
  }
}
@media (max-width: 75em) {

  .event-feed,
  .eventsAttended,
  .eventsToAttend {
    grid-template-columns: repeat(2, 1fr);
  }

  main>header {
    display: grid;
    grid-template-columns: auto auto auto;
  }

  main>header h1 {
    grid-row-end: span 2;
  }
}

@media (max-width: 63em) {

  .event-feed,
  .eventsAttended,
  .eventsToAttend {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .eventCard{
    max-width: 20em;
    min-width: 19em;
  }
}

@media (max-width: 25em) {
  body {
    margin: 0;
  }

  main>header {
    margin: 0;
    padding: 1em;
  }

  main>header span {
    margin: 0;
  }

  #content2 form {
    margin: 0;
    max-width: 25em;
  }

  article.card {
    margin: 0;
    border-bottom: 1px solid rgba(96, 108, 118, 0.4);
  }
}

button,
a.button {
  background-color: #9bb6fcf6;
  border-color: #9bb6fcf6;
  max-width: 13em;
}
#submit{
  background-color: #7a9aebce;
  border-color: #a1b4e3;
  
}

#createButton {
  margin: auto;
  margin-top: 1em;
  display: flex;
  padding: 0 1em;
}

button:hover,
a.button:hover {
  background-color: #7a9aebce;
  border-color: #a1b4e3;
  box-shadow: rgba(0, 0, 0, 0.18) 1px 2px 6px;
}

a {
  color: #4b4b4b;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus {
  border-color: #383838;
}


.col-sm-9 {
  padding-left: 10px;
}

.mb-0 {
  padding-left: 15px;
}

.col-lg-4 {
  margin-right: auto;
}

.editProfile {
  margin: auto;
  align-content: center;
}

.container-pic-editProfile {
  width: fit-content;
  background-color: #eee;
  margin-right: auto;
}

.container-password-editProfile {
  background-color: #eee;
  margin-right: auto;
  padding-left: 10px;
}

.save-edit-profile-button {
  width: fit-content;
  padding-top: 30px;
  margin-left: 40px;
}

.profile-picture {
  width: 5%;
  min-width: 2.7em;
  margin: 0.7em 1em;
  border-radius: 50%;
  object-fit: cover; /* Required to prevent the image from stretching, use the object-position property to adjust the visible area */
  aspect-ratio: 1/1;
}
.like > *{
  margin: 0 0 0 1em;
}

.mini-picture{
  width: 7%;
  min-width: 2.5em;
  border-radius: 50%;
  float: right;
  object-fit: cover; /* Required to prevent the image from stretching, use the object-position property to adjust the visible area */
  aspect-ratio: 1/1;
}


#logo {
  max-width: 20%;
  min-width: 10em;
}

.profile-picture .title {
  width: fit-content;
  margin-bottom: auto;
}

.menu-toggle {
  display: none;
  position: fixed;
  width: 2em;
  height: 2em;
  cursor: pointer;
  background-color: #fff;
}

.hamburger {
  position: relative;
  top: calc(50% - 2px);
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1.5em;
}

.hamburger>span,
.hamburger>span::before,
.hamburger>span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 99px;
  background-color: #a1b4e3;
  transition-duration: .25s;
}

.hamburger>span::before {
  content: '';
  top: -8px;
}

.hamburger>span::after {
  content: '';
  top: 8px;
}

.menu-toggle.is-active .hamburger>span {
  transform: rotate(45deg);
}

.menu-toggle.is-active .hamburger>span::before {
  top: 0;
  transform: rotate(0deg);
}

.menu-toggle.is-active .hamburger>span::after {
  top: 0;
  transform: rotate(90deg);
}

.sidebar {
  background-color: #ffffff;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
  top: 0;
  overflow-x: hidden;
  overflow-y: auto;
  /* Scrollable contents if viewport is shorter than content. */
  width: 14em;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 30px 3px;
}

.sidebar h4 {

  margin-bottom: 0;
  font-weight: bold;
}

hr {
  display: block;
  border-top: 1px solid rgb(118, 118, 118);
  margin: 1em 1em;

}

.sidebar .menu .menu-item {
  display: block;
  padding: 1em;
  font-weight: normal;
  text-decoration: none;
  transition: 0.2s linear;
}

.sidebar .menu .menu-item:hover,
.sidebar .menu .menu-item.is-active {
  color: #a1b4e3;
  border-right: 4px solid #a1b4e3;
  background-color: rgba(245, 245, 245, 0.692);
}

.sidebar i {
  margin-right: 1em;
}
#footer{
  padding-left: 14em;
}
#footer,  #footer2{
  bottom: 0;
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #becff9eb;
}
#footer *,  #footer2 *{
  color: white;
}
#footer a:hover, #footer2 a:hover{
  border-radius: 1em;
  background-color: white;
  color: #a2baf8;
  
  border: 0.5px solid #a1bcffeb;
}

.formbg-outer{
  background-color: white;
  margin: 0 4em;
  border-radius: 2%;
  box-shadow: rgba(149, 157, 165, 0.132) 0px 6px 17px;
}

#landing{
  background-color: white; 
  padding: 4em; 
  display:grid; 
  grid-template-columns: auto auto;
}
#landing img{
  margin-left: auto;
  margin-right: 8em;
}
#landing > div *{
  margin: auto auto;
  margin-top: 3em;
  text-align: center;
}

.attendeeInfo:nth-child(2){
  float: right;
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }
  #footer{
    padding-left: 0;
  }
  #content {
    padding-left: 0;
  }

  .sidebar {
    position: fixed;
    left: -300px;
    height: 100vh;
    width: 15em;
    transition: 0.2s linear;
  }
  .eventCard{
    max-width: 21em;
  }

  #content2>form {
    margin: 0 auto;
  }

  .sidebar.is-active {
    left: 0;
  }
  footer{
    margin-left: 0;
    width: 100%;
  }
}
@media (max-width: 500px) {

  #registerbtn{
    display: none;
  }
}
@media (max-width: 700px) {
  #landing{
    display: block;
    justify-content: center;
  }
  #landing .button{
    margin: 1.4em auto;
    justify-self: center;
  }
}


.carousel-item{
  height: 80vh;
}
.carousel-control-next, .carousel-control-prev{
  top: 50%;
}
.carousel-control-next:hover, .carousel-control-prev:hover{
  background-color: transparent;
}

#eventActions{
  display: flex;

}
#evenActions #shareBtn{
  float: right;
}

.w-5{
  display: none;
}

.circle {
  height: 50px;
  width: 50px;
  background-color: #555;
  border-radius: 50%;
}

.social-link {
  width: 30px;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  border-radius: 50%;
  transition: all 0.3s;
  font-size: 0.9rem;
}

.social-link:hover,
.social-link:focus {
  background: #ddd;
  text-decoration: none;
  color: #555;
}

body{margin-top:20px;}
.section_padding_130 {
    padding-bottom: 130px;
}
.faq_area {
    position: relative;
    z-index: 1;
    background-color: #f5f5ff;
}

.faq-accordian {
    position: relative;
    z-index: 1;
}
.faq-accordian .card {
    position: relative;
    z-index: 1;
    margin-bottom: 1.5rem;
}
.faq-accordian .card:last-child {
    margin-bottom: 0;
}
.faq-accordian .card .card-header {
    background-color: #ffffff;
    padding: 0;
    border-bottom-color: #ebebeb;
}
.faq-accordian .card .card-header h6 {
    cursor: pointer;
    padding: 1.75rem 2rem;
    color: #94bee7;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.faq-accordian .card .card-header h6 span {
    font-size: 1.5rem;
}
.faq-accordian .card .card-header h6.collapsed {
    color: #070a57;
}
.faq-accordian .card .card-header h6.collapsed span {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
.faq-accordian .card .card-body {
    padding: 1.75rem 2rem;
}
.faq-accordian .card .card-body p:last-child {
    margin-bottom: 0;
}

@media only screen and (max-width: 575px) {
    .support-button p {
        font-size: 14px;
    }
}

.support-button i {
    color: #3f43fd;
    font-size: 1.25rem;
}
@media only screen and (max-width: 575px) {
    .support-button i {
        font-size: 1rem;
    }
}

.support-button a {
    text-transform: capitalize;
    color: #2e5dcc;
}
@media only screen and (max-width: 575px) {
    .support-button a {
        font-size: 13px;
    }
}
